.container{
    border: 1px solid #403f62;
    width: 60%;
    height: 80%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
 
div.sidebar{
    background: #3d3c61;
    flex: 1 ;
    color: white;
}
 
@media (max-width:700px) {
    .container{
        width: 100%;
        height: 100%;
    }
    /* div.sidebar{
        width: 100%;
    } */
}
 