.chatbox{
    flex: 2 ;
    scroll-behavior: smooth;
} 
div.header{
    background: #5e5b8d;
    height: 10%;
    padding: 10px;
}
div.user-actions{
    display: flex;
   
}
div.chatbox > ul.chats{
    background: #ddddf6;
    height: 80%;
    padding: 10px;
}
div.chatbox div.user-actions{
    height: 10%;
    padding: 10px;
    background: white;
}
div.user-actions > input{
    outline: none;
    border: none;
}
div.user-actions > textarea{
    outline: none;
    border: none;
    resize: none;
 
     
    
}
div.right-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
div.right-header > div.actions{
    display: flex;
    flex-flow: row-reverse;
    gap: 10px;
}
div.right-header > img {
    cursor: pointer;
}
div.user-actions-button{

    display: flex;
    gap: 10px;
    
    align-items: center;
   
     
}
div.user-actions-button > * {
    cursor: pointer;
}
div.user-actions-button > input{
    background:#869ffe;
    color: white;

}
div.user-actions-button > textarea{
    background:#869ffe;
    color: white;

}
div.chatbox ul.chats{
    overflow: auto;
}
/*  */
.gg-menu-round {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border-radius: 24px;
    border: 2px solid;
}

.gg-menu-round::before {
    content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 10px;
   height: 2px;
   background: currentColor;
   border-radius: 3px;
   top: 4px;
   left: 4px;
   box-shadow: 0 4px 0, 0 8px 0
}
